/* Desktop */


* {
    font-family: 'raleway', 'Trebuchet MS', sans-serif;
}

body {
    margin:0;
    padding: 0;
}


/* Header */


nav.menu-mobile {
    display: none;
}

.logo {
    padding-top: 25px;
    padding-left: 50px;
}

li {
    list-style-type: none;
}

.top-menu-desktop {
    display: flex;
    justify-content: space-between;
}

.top-menu-list {
    display: flex;
}

ul.top-menu-list li {
    padding-right: 70px;
    font-weight: 600;
    line-height: 70px;
}

.top-menu-list a {
    padding: 40px 17px 0px 17px;
}

.classic-link, .menu-link a:link {
    text-decoration: none;
    color: black;
}

.classic-link, .menu-link a:visited {
    text-decoration: none;
    color: black;
}

.menu-link a:hover {
    border-top: #0065FC solid 2px;
    color: #0065FC;
}

.register-link a:link {
    text-decoration: none;
    color: #0065FC;
}

.register-link a:visited {
    text-decoration: none;
    color: #0065FC;
}

.register-link a:hover {
    font-weight: 800;
}


/* Search section */


.search-section {
    padding-left: 50px;
}

h1 {
    margin-bottom: 0px;
}

h1 + p {
    margin-top: 6px;
}

.search-border {
    border: 1px solid #F2F2F2;
    border-right: none;
    border-radius: 9px;
    display: inline-block;
    margin-top: 7px;
}

.marker-design {
    background-color: #F2F2F2;
    padding : 12px 18px 12px 18px;
    border-radius: 9px 0px 0px 9px;
}

input[type="text"] {
    border: none;
    padding: 11px 8px 11px 10px;
    font-weight: 800;
}

button {
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    padding: 13px 18px 13px 18px;
    border-radius: 0px 8px 8px 0px;
    border: none;
}

.button-search-mobile {
    display: none;
}

.filters-title-container {
    display: flex;
    align-items: baseline;
    font-weight: 800;
    padding-top: 10px;
    flex-wrap: wrap;
}

.filters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
}

.filters {
    border: 3px #F2F2F2 solid;
    border-radius: 30px;
    padding: 10px 18px 10px 0px;
    margin-right: 25px;
}

.filters:hover {
    border: 3px #0065FC;
    border-style: dashed solid;
    overflow: hidden;
}

.filters span {
    background-color: #DEEBFF;
    border-radius: 20px;
    padding: 12px 15px 12px 12px;
    margin-right: 13px;
}

.icon-filters {
    color: #0065FC;
    width: 15px;
}

.info-design {
    border: 2px #F2F2F2 solid;
    border-radius: 15px;
    padding: 1px 8px 1px 8px;
    margin-right: 7px;
}

.icon-info {
    color: #0065FC;
    font-size: 13px;
}

div.info-available-rooms {
    display: flex;
}


/* Section rooms popular */


.rooms-popular-container {
    display: flex;
    padding: 25px 50px 20px 50px;
}


/* Rooms */


#rooms {
    margin-right: 50px;
    padding: 18px 0px 18px 25px;
    width: 70%;
}

.rooms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-room {
    height: 140px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

.blue-star {
    color: #0065FC;
}

.empty-star {
    color: #F2F2F2;
}

#rooms, .popular-container, footer {
    background-color: #F2F2F2;
}

#rooms, .popular-container, article {
    border-radius: 15px;
}

.rooms-container article {
    width: 28%;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 4px;
    background-color: white;
}

article  {
    overflow: hidden;
}

.description-room-card {
    padding-left: 8px;
    padding-bottom: 5px;
}

.description-room-card h3, p {
    margin: 4px;
}

.bold {
    font-weight: 700;
}

.more {
    margin : 0px 0px 50px 0px; 
}


/* Popular rooms */


.popular-container {
    width: 30%;
    padding: 5px 40px 40px 40px;
}

.title-popular {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 18px 5px 10px 5px;
}

.icon-popular {
    font-size: 25px;
}

.popular-container article {
    height:23%;
    margin-bottom: 30px;
    padding: 4px;
    background-color: white;
}

.link-popular-card {
    display: flex;
    height: 100%;
}

.img-popular {
    height: 100%;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0px 0px 10px;
}

.description-popular-card, .description-activity-card {
    padding-left: 22px;
}

.description-popular-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.description-popular-card h3 {
    margin-bottom: 5px;
}

.description-popular-card p {
    margin-left: 0;
}


/* Activities */


#activities {
    padding: 20px 5px 70px 50px;
}

.activities-container {
    display:flex;
    justify-content: space-between;
}

.activity-card, .activity-card-small, .pomegues-activity-card, .activity-card-medium {
    border: 3px solid #F2F2F2;
}

.activity-small-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-card-small, .pomegues-activity-card, .activity-card-medium {
    margin-left: 40px;
    margin-right: 40px;
}

.pomegues-activity-card, .dame {
    margin-bottom: 40px;
}

.activity-card img {
    height: 390px;
    width: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;

}

.activity-card-small img {
    height: 120px;
    width: 270px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

.pomegues-activity-card img {
    height: 160px;
    width: 270px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

.activity-card-medium img {
    height: 140px;
    width: 270px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}


/* Footer */


footer {
    padding: 30px 0px 25px 45px;
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
}

.footer-padding {
    padding-left:0px;
}

.footer-padding li {
    padding-bottom: 11px;
}


/* Responsive mobile */


@media (max-width: 425px)

{


/* Header */


    nav.top-menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-mobile .top-menu-list {
        padding-left: 0px;
        width: 100%;
    }

    .menu-mobile .register-link {
    font-weight: 800;
    padding-bottom: 0;
    padding-right: 15px;
    line-height: 45px;
    text-align: right;
    }

    .menu-mobile .menu-link {
        text-align: center;
    }

    .menu-mobile .menu-link a {
        padding-top: 0;
    }

    .menu-mobile .menu-link.border:hover {
        border-bottom: #0065FC solid 3px;
        color: #0065FC;
    }

    .menu-mobile .menu-link a:hover {
        border-top: none;
    }

   .menu-mobile ul.top-menu-list li {
    padding: 0px 0px 0px 0px;
    width: 50%;
    }  

    .menu-mobile .border {
    border-bottom: #F2F2F2 solid 3px;
    }

    .logo {
    padding-left: 5px;
    padding-top: 0px;
    }


/* Search section */


    h1 {
        font-size: 23px;
        padding-left: 5px;
    }

    section.search-section {
        padding-left: 10px;
    }

    div.search-border {
       margin: 30px 5px 20px 5px;
    }

    input[type="text"] {
        font-size: 15px;
    }

    button.button-search {
        display: none;
    }

    button.button-search-mobile {
        display:inline-block;
        border-radius: 10px 10px 10px 10px;
        padding: 13px 15px 13px 15px;
    }

    ul.filters-container {
        padding-left: 0;
    }

    li.filters {
        margin-right: 5px;
        margin-bottom: 10px;
    }


/* Section rooms popular */


    div.rooms-popular-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;        
        padding: 20px 0px 0px 0px;
    }


/* Popular */


    div.popular-container {
        width: 100%;
        padding: 0px 0px 25px 0px;
        border-radius: 0;
    }

    div.title-popular {
        padding-left: 15px;
        padding-right: 15px;
    }

    img.img-popular {
        height: 130px;
        width: 130px;
    }

    .popular-container article {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
    }


/* Rooms */


    section#rooms {
        background: none;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0;
        width: 100%;
    }

    div.rooms-container {
        padding-bottom: 20px;
    }

    #rooms article {
        width: 100%;
        border-color: #F2F2F2;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 20px;
        border: 2px solid #F2F2F2;
    }

    #rooms h2, .more {
        padding-left: 15px;
    }


/* Activities */


    div.activities-container {
        flex-direction: column;
        padding: 0;
    }

    section#activities {
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
    }

    #activities article {
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
        border: 2px solid #F2F2F2;
    }

    article.pomegues-activity-card, article.activity-card-small, article.activity-card-medium {
        margin-left: 0;
    }

    #activities a.classic-link img {
       height: 120px;
       width: 100%;
    }

    #activities h2 {
        padding-left: 20px;
    }


/* Footer */


   footer {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 25px;
    }

}


/* Responsive tablette */


@media (min-width:426px) and (max-width:768px) {


/* Header */


    img.logo {
        padding-left: 20px;
    }


/* Search section */


    section.search-section {
        padding-left: 20px;
    }

    ul.filters-container {
        padding-left: 0px;
    }

    li.filters {
        margin-right: 5px;
    }


/* Rooms Popular */


    div.rooms-popular-container {
        flex-wrap: wrap;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 0px;
    }


/* Rooms */


    section#rooms {
        width: 100%;
        margin-right: 0;
        padding-bottom: 0px;
        margin-bottom: 30px;
    }


/* Popular */


    div.popular-container {
        width: 100%;
    }


/* Activities */


    section#activities {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
    }

    div.activities-container {
        flex-wrap: wrap;
    }

    .activity-card img {
        width: 320px;
    }

    .activity-small-card-container img {
        width: 360px;
    }

    .activity-small-card-container article {
        margin-right: 0px;
    }

    .calanques, .dame {
        margin-top: 30px;
    }


/* Footer */


    footer {
        padding-left: 15px;
        padding-right: 15px;
    }

}
