* {
    font-family: 'raleway', 'Trebuchet MS', sans-serif;
}

/* Header */

header {
    margin-left: 40px;
    padding-top: 20px;
}

li {
    list-style-type: none;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.top-menu-list {
    display: flex;
}

ul.top-menu-list li {
    margin-right: 60px;
    font-weight: 600;
}

.classic-link, .menu-link a:link {
    text-decoration: none;
    color: black;
}

.classic-link, .menu-link a:visited {
    text-decoration: none;
    color: black;
}

.menu-link a:hover {
    border-top: #0065FC solid 2px;
    padding-top: 55px;
    color: #0065FC;
}

.register-link a:link {
    text-decoration: none;
    color: #0065FC;
}

.register-link a:visited {
    text-decoration: none;
    color: #0065FC;
}

.register-link a:hover {
    font-weight: 700;
}

/* Search section */

.search-section {
    margin-left: 45px;
}

h1 {
    margin-bottom: 0px;
}

h1 + p {
    margin-top: 6px;
}

.search-border {
    border: 1px solid #F2F2F2;
    border-right: none;
    border-radius: 8px;
    display:inline-block;
}

.marker-design {
    background-color: #F2F2F2;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 8px 0px 0px 8px;
}

input[type="text"] {
    border: none;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
}

input[type="button"] {
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 0px 8px 8px 0px;
    border: none;
}

.filters-title-container {
    display: flex;
    align-items: baseline;
    font-weight: 800;
}

.filters-container {
    display: flex;
}

.filters {
    border: 3px #F2F2F2 solid;
    border-radius: 30px;
    padding: 10px 18px 10px 0px;
    margin-right: 33px;
}

.filters:hover {
    border: 2px #0065FC;
    border-style: dashed solid;
    overflow: hidden;
}

.filters span {
    background-color: #DEEBFF;
    border-radius: 20px;
    padding: 12px 15px 12px 12px;
    margin-right: 13px;
}

.icon-filters {
    color: #0065FC;
    width: 15px;
}

.info-design {
    border: 2px #F2F2F2 solid;
    border-radius: 15px;
    padding: 3px 9px 3px 9px;
    margin-right: 7px;
}

.icon-info {
    color: #0065FC;
    font-size: 13px;
}


/* Section rooms popular */

.rooms-popular-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 45px;
}

/* Rooms */

#rooms {
    margin-right: 45px;
    padding: 18px 20px 18px 50px;
    width: 70%;
}

.rooms-container {
    display: flex;
    flex-wrap: wrap;
}

.img-room {
    height: 140px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

.blue-star {
    color: #0065FC;
}

.empty-star {
    color: #F2F2F2;
}

#rooms, .popular-container, footer {
    background-color: #F2F2F2;
}

#rooms, .popular-container, article {
    border-radius: 15px;
}

.rooms-container article {
    width: 29%;
    margin-bottom: 40px;
    margin-right: 40px;
}

article  {
    background-color: white;
    overflow: hidden;
    border: 4px solid #FFFFFF;
}

.description-room-card {
    padding-left: 8px;
}

.bold {
    font-weight: 700;
}

/* Popular rooms */

.popular-container {
    width: 30%;
}

.title-popular {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 18px;
    margin-left: 55px;
    margin-right: 55px;
}

.icon-popular {
    font-size: 25px;
}

.popular-container article {
    margin: 5px 50px 50px 50px;
    height: 22%;
}

.link-popular-card {
    display: flex;
    height: 100%;
}

.img-popular {
    height: 100%;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0px 0px 10px;
}

.description-popular-card, .description-activity-card {
    margin-left: 22px;
}

/* Activities */

#activities {
    margin: 40px 0px 60px 40px;
}

.activities-container {
    display:flex;
    flex-wrap:nowrap;
}

.activity-card, .activity-card-small {
    border: 3px solid #F2F2F2;
}

.activity-small-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-card-small {
    margin-left: 40px;
    margin-right: 40px;
}

.activity-card img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;

}

.activity-card-small img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding : 30px 400px 25px 45px;
}

.footer-padding {
    padding-left:0px;
}

.footer-padding li {
    padding-bottom: 11px;
}